@mixin size($width, $height:$width) {
  width: $width;
  height: $height;
}

@mixin placeholder() {
  ::-webkit-input-placeholder {
    @content
  }
  :-moz-placeholder {
    @content
  }
  ::-moz-placeholder {
    @content
  }
  :-ms-input-placeholder {
    @content
  }
}